.notification {
  
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;    
    font-family: Nickainley;
    color: #f6AEB9;
    text-align: center;
    
  }

.form{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;

    

}

.form-label{
    display: flex;
    flex-direction: row; 
    padding: 10px;
    
}
 
.form-button { 
    display :block;
    margin-left: 10px;    
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 14px;
  
     
}
.formButton:hover {
    background-color: #6b392f;
    color: #f6AEB9;
}

.title{
    margin-left: 10px;
    font-weight: 300px;
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    font-family: Nickainley;
    text-align: center;
}
.close{
   display: flex;
    justify-self:  center;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: right;
    font-weight: 300px;
    font-style: normal;
    font-size: 14px;

    margin-left: 10px;
    font-weight: 300px;
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    
    margin-left: 380px
}
 
