.writingInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 325px;
    width: 325px;
    padding-block: 5px;
    text-align: center;
    
    
}

.formButton{
    margin-left: 465px;
    margin-right: 1px;
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cake-Page{
    color: #6b392f;
    font-family: Nickainley;    
    font-weight: bold;
    font-size: 32px;
    padding: 20px;

}
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 200px;
    gap: 20px;
    padding: 16px;
    border-radius: 10px;
    background: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-start;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .cake-Pic {
    width: 200px;
    height: 200px;
  }
  
  .formContainer{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: #6b392f;
      font-family: Nickainley;
      font-weight: 300px;
      font-style: normal;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
  }
  .cake-DropDown{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 200px;
      height: 40px;
      border-radius: 10px;
      background-color: #f6AEB9;
      color: #6b392f;
      font-family: Nickainley;
      font-weight: 300px;
      font-style: normal;
      font-size: 22px;
      text-align: center;

  }
  