.writingInput{
    width: 600px;
}

.formButton{
    margin-left: 165px;
    margin-right: 1px;
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;
}