.pageContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.writingInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    width: 325px;
    padding-block: 5px;
    text-align: center;
    
    
}

.formButton{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-right: 1px;
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cake-Page{
  display: flex;
  flex-direction: column;
    color: #6b392f;
    font-family: Nickainley;    
    font-weight: bold;
    font-size: 32px;
    padding: 20px;

}
.formButton:hover{
    background-color: #6b392f;
    color: #f6AEB9;
}


  .buy_Now_Container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  