.writingInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    width: 325px;
    padding-block: 5px;
    text-align: center;
    
    
}

.formButton{
   
    margin-right: 1px;
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formButton:hover {
    background-color: #6b392f;
    color: #f6AEB9;
}
.cake-Page{
    color: #6b392f;
    font-family: Nickainley;    
    font-weight: bold;
    font-size: 32px;
    padding: 20px;

}
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 200px;
    gap: 20px;
    padding: 16px;
    border-radius: 10px;
    background: #f6AEB9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-start;
    max-width: 200px;
    margin-bottom: 20px;
  }
  .cake-Pic {

    display: flex;
    justify-content: space-evenly; 
     
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    background: #f6AEB9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-start;
    margin-bottom: 20px;
   
    object-fit: cover;
    aspect-ratio: 1 / 1;
    max-width: 400px;
  }
  .dropdown{
    
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 5px;
      width: 400px;
      height: 500px;
      border-radius: 10px;
  
      color: #6b392f;
      font-family: Nickainley;
      font-weight: 300px;
      font-style: normal;
      font-size: 28px;
      text-align: center;
      padding-bottom: 50px;

  }
  
  .formContainer{
     
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      color: #6b392f;
      font-family: Nickainley;
      font-weight: 300px;
      font-style: normal;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
  }

  .buy_Now_Container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



  }
  