.cake-image{
    width: 100rem;
    height: 30rem;
    left: 20px;
    border: 1px solid #6b392f;
} 
.summaryContainer {
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    max-width:fit-content;
  }
  
  .summaryContainer h3 {
    margin-bottom: 1rem;
    color: #6b392f;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: nickainley;
  }
  .itemRow {
    display: flex;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }
  
  
  .itemInfo p {
    margin: 0.6rem ;
    color: #6b392f;
  }

  .cakeName {
    font-size: 2rem;
    font-weight: bold;
    color: #6b392f;
    font-family: nickainley;
  }
  
  .cakeImage {
    width: 120px;
    height: 120px;
    margin: 0.5rem 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  
  .total {
    font-size: 1.2rem;
    text-align: center;
    color: #6b392f;
  }
  
  .buttonContainer {
    text-align: center;
    
  }
  
  .submitButton {
    

    background-color: #8f6d51;
  color: #ffffff;
    cursor: pointer;
    
  }
  
  .submitButton:hover {
    background-color: #6d533e;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
