.form-button {
    margin-left: 165px;
    margin-right: 1px;
    background-color: #f6AEB9;
    color: #6b392f;
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;

}
 .view-login{

    /* background-color: #FEFEE5 */
    color: #6b392f;
 
    font-weight: 300px;
    font-style: normal;
    font-size: 14px;
     
  
    
 }

 .view-login h2{
    text-align: center;
    font-weight: bold;
    margin-left: 145px;
}

.register-text{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 150px;
}

.login-form{
    font-weight: bold;
    text-align: center;
    padding-right: 40px;

}