.form-button {
    margin-left: 165px;
    margin-right: 15px;
    background-color: #f6AEB9;
    color: #6b392f;

}
 .view-login{

    /* background-color: #FEFEE5 */
    color: #6b392f;
    
 }

 .view-login h2{
    text-align: center;
    font-weight: bold;
}

.register-text{
    text-align: center;
    margin-bottom: 20px;
}

.login-form{
    font-weight: bold;

}