.column-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-2{
    display: flex;
    flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

  .entire-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    color:#33261D ;
    background-color: #FCBFB7 ;
    width: 200px;
   justify-content: center;}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entire-page :global(input){
    width: 241px;

}