.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  
}

.title{
  color:#6b392f;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 5%;
}
div {
    margin: 12px 0;
}
select {

    width: 250px; /* optional: for consistency */
  }

button{
    display: flex;
    background-color: #8F6D51;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
  justify-content: center; 
  align-items: center;     
}

.button:hover {
  background-color: #6D533E;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
}
.button{

  width: 100px;
  margin: 5% 5% 5% 25%;
  
}

.form-container :global(input){
    width: 243px;
}