.gridContainer {
    display: grid;
    grid-template-columns: 1f 1fr 1fr;
    gap: 5px;
    grid-template-areas:
      "header    header      header"
      "about      about       about"
      " cakes     cakes       cakes"
      "customs     customs     customs"
      "flavors     flavors     flavors"
      "footer      footer        footer";
  }
  
  header {
      grid-area: header;
      display: flex;
      background-color: rgb(187, 233, 205);
    }
  
  .about {
      grid-area: about;
  }
  
  .standardCakes {
      grid-area: cakes; 
  }
  
  .customCakes {
      grid-area: customs;
  
  }
  
  .flavors {
  
  grid-area: flavors
  }
  
  img {
    max-width: 70px;
  }
  
  
  
  footer {
      grid-area: footer;
    display: flex;
    background-color: rgba(83, 204, 164);
  }
  