 
.home-page{
    color: tomato;
}
.about{
   display: flex; 
   color: #6b392f;
   gap: 16px;
   padding: 16px;
   border-radius: 10px;
   background: #f3f3f3;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   align-items: flex-start;
   max-width: 100%;
   margin-bottom: 20px;
   text-align: justify;
   font-weight: 300px;
   font-style: normal;
   font-size: 14px;
   
}

.our-story :global(h2){
    padding: 10 px;
    font-weight: bold;
     font-family: Nickainley;
     font-size: 20px;
}
.cake{
    width: 300px;
    
}
.cake-types :global(h1){
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #6b392f;
    font-family: Nickainley;
   font-weight: 300px;
  font-weight: bold;
   font-size: 32px;
    

}
.cake-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.standard-cakes {
    display: flex;
 
    gap: 16px;
    padding: 16px;
    border-radius: 10px;
    background: #f3f3f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .standard-cakes {
    flex: 1;
    gap: 16px;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.flavor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flavor {
    flex: 1;
    gap: 16px;
    max-width: 110px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100px;
}

.flavor-box :global(h2){
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    color: #6b392f
}
.flavor-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    
}
