.nav-box {
  grid-area: nav;
  display: flex;
  background-color: #c4ebb3;
  color: #6b392f;
  border-radius: 15px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
.logo {
  display: flex;
  justify-content: center;
  width: 75px;
  font-size: 22px;
  padding: 10px;
  margin-right: 10px;
}

.nav-link a {
  display: block;
  color: #6b392f;
  margin: 8px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: Nickainley;
}

.nav-link :global(a:hover) {
  color: #fcbfb7;
}

.logoText {
  font-family: Nickainley;
  font-weight: 300px;
  font-style: normal;
  font-size: 30px;
  padding-left: 30px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.nav-link :global(a.active) {
  color: #6b392f;
  font-weight: bold;
  font-size: 30px;
  font-family: Nickainley;
  outline: solid 2px #6b392f;
  border-radius: 10px;
}
.nav-icons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 60px;
  font-size: 22px;
}

.nav-icons :global(p) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #6b392f;
}

.icons{
  padding-bottom: 0px;
  color: #6b392f;
}

.cart-link :hover{
color: #fcbfb7;
}
