.nav-box{
    grid-area: nav;
    display: flex;
    background-color: #d9ecd1;
  
}
.nav-box h2{
    font-family: Nickainley;
    font-weight: 300px;
    font-style: normal;
    font-size: 22px;
    padding-left: 30px;
    width: 20px;
     
}

/* Main Nav styles */
.nav-list {
    display: flex;

    flex-direction: row;
    justify-content: center;
    /* margin: 0;
    padding: 0; */
    width: 100vw; 
  
  
}
.logo {
    display: flex;
    justify-content: center;
    width: 75px;
    font-size: 22px;
     
}

.nav-link a {
    display: block;
    background-color: #d9ecd1;
    border-bottom: 1px solid rgba(216, 216, 216, 0.7);
    color: #6B392F;
    margin: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font-family: Nickainley;
    
}

.nav-link :global(a:hover) {
    color: #6B392F;
}

:global(a.active) {
    /* background-color: #83d85f; */
    color:#6B392F;
    font-weight: bold;
    font-size: 22px;
    font-family: Nickainley;
    outline: solid 1px #6B392F;;
}
.nav-icons{
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly; 
    padding-right: 10px;
    padding-top: 15px;
    width: 75px;
    font-size: 22px;
   
}