.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 33.33%;
  /* flex-basis: 400px; */
  gap: 20px;
  padding: 16px;
  border-radius: 10px;
  background: #fcbfb7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  align-items: flex-start;
  max-width: 500px;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.card :global(p) {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic;
  /* border-radius: 10px;
  background: #f7c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
}

.adminButton {
  background-color: #bad7f2;
  color: #334e58;
}

.adminButton:hover {
  background-color: #77b8f5;
  transform: translateY(-1px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

h5 {
  font-family: Nickainley;
  padding-bottom: 10px;
  font-weight: 300px;
  font-style: normal;
  font-size: 30px;
}

h2 {
  font-family: Nickainley;
  font-size: 16px;
}

.card :global(img) {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.card-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available-text {
  display: flex;
  align-items: stretch;
}

.available-text :global(h1) {
  display: flex;
  width: 138px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  color: #bad7f2;
  border: none;
  cursor: pointer;
  font-weight: 600;
  gap: 8px;
  border: #334e58 solid 1px;
  background-color: #334e58;
  margin-top: 4px;
  border-radius: 3px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
